// FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
$ff: "Inter", sans-serif;
$fz: 15px;

// COLORS
$dark-blue-intro-bg: #1c2431;
$dark-blue-main-bg: #181f2a;
$dark-blue-footer-bg: #0b1523;
$dark-blue-testimonials: #202a3c;
$cyan: #65e2d9;
$blue: #339ecc;
$light-red: #ff4242;
$white: #ffffff;