// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
$ffo: 'Open Sans', sans-serif;
$fft: 'Raleway', sans-serif;


// colors
$dark-blue-intro-bg: #1c2431;
$dark-blue-main-bg: #181f2a;
$dark-blue-footer-bg: #0b1523;
$dark-blue-testimonials: #202a3c;
$cyan: #65e2d9;
$blue: #339ecc;
$light-red: #ff4242;
$white: #ffffff;