@import './variables';

header{ 
  width: 100%;
  nav{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 4rem 3rem 2rem 3rem;
  }
}
.logo_nav{
  img{
    max-width: 4rem;
  }
}
.options_nav a{
  color: $white;
}