@import './variables';

header{ 
  nav{
    margin: 0 auto;
    max-width: 1440px;
  }
}
.logo_nav{
  img{
    max-width: 5rem;
  }
}

@media (min-width: 1080px){
  .logo_nav{
    img{
      max-width: none;
    }
  }
}
