@import './variables';

// HeroSection.tsx
.button-started {
  border-radius: 15rem;
  border: none;
  background: linear-gradient(138.1deg, $cyan -49.34%, $blue 100%) !important;
  transition: 0.3s;
}

.curvy::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 8.8125rem;
  background: url(../assets/bg-curvy-mobile.svg) no-repeat bottom / 100% 100%;
  z-index: -1;
  bottom: 0rem;
  @media (min-width: 1024px) {
    height: 28.0625rem;
    background-image: url(../assets/bg-curvy-desktop.svg);
  }
}

// TestimonySection.tsx

.testimony-job {
  font: normal normal 400 0.5rem/1rem $fft;
}
.quotes::before {
  content: '';
  background-image: url('/src/assets/bg-quotes.png');
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 10px;
  top: -24px;
  @media (min-width: 1024px) {
    width: 60px;
    height: 60px;
    left: -8px;
    top: -45px;
  }
}

// PromotionSection.tsx

.how-fylo-button::after {
  content: '';
  position: absolute;
  background: $cyan;
  height: 1px;
  width: 100%;
  bottom: -5px;
}
