@import './resets';
@import './variables';

// Components
@import './header.scss';
@import './main.scss';

// code
html{
  background-color: $dark-blue-intro-bg
}
section{
  max-width: 1440px;
  margin: 0 auto;
}