@import './resets';
@import './variables';

// Components
@import './header.scss';
@import './main.scss';

// code
html {
  background-color: $dark-blue-intro-bg;
  overflow-x: hidden;
}
section {
  max-width: 1440px;
}
article,
section {
  margin: 0 auto;
}
.footer-center {
  max-width: 1228px;
  margin: 0 auto;
}
